<h1>Usuários</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>     
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>       
        <td><%= user.email %></td>
        <td><%= link_to 'Detalhes', user, class: "btn btn-info glyphicon glyphicon-align-justify" %></td>
        <td><%= link_to 'Editar', edit_user_path(user), class:"btn btn-warning glyphicon glyphicon-pencil" %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Tem certeza que deseja Excluir?' } , class: 'btn btn-danger glyphicon glyphicon-trash'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuário', new_user_path, class: "btn btn-primary" %>

