<p id="notice"><%= notice %></p>

<h1>Endereços</h1>

<table class="table">
  <thead>
    <tr>
      <th>CEP</th>
      <th>Rua</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th>Bairro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.zip_code %></td>
        <td><%= address.street %></td>
        <td><%= address.state %></td>
        <td><%= address.city %></td>
        <td><%= address.neighborhood %></td>
        <td><%= link_to 'Detalhes', address %></td>
        <td><%= link_to 'Editar', edit_address_path(address) %></td>
        <td><%= link_to 'Excluir', address, method: :delete, data: { confirm: 'Você tem certeza que deseja Excluir?' }, class: 'btn btn-link btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Endereço', new_address_path, class: "btn btn-primary" %>
