<!DOCTYPE html>
<html>
<html lang="<%= I18n.locale %>" xml:lang="<%= I18n.locale %>" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GokuEcommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">   
        <nav>
          <ul class="nav navbar-nav navbar-right">            
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Endereços",   addresses_path %></li>
            <li><%= link_to "Usuários",   users_path %></li>           
            <% if user_signed_in? %>                
                <li><%= link_to "Sair (#{current_user.name})", destroy_user_session_path, :method => :delete %></li>                
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
     
    <div class="container">
     <%= render 'layouts/flash_messages' %>     
      <%= yield %>
    </div>
  </body>
</html>
